@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: "#313b45";
  --grey: "#818890";
  --white: "#fff";
}

html {
  @apply bg-[#313b45];
  font-family: "DM Sans", sans-serif;
}
.dmsans {
  font-family: "DM Sans", sans-serif;
}
.monserrat {
  font-family: "Montserrat", sans-serif;
}
.opensans {
  font-family: "Open Sans", sans-serif;
}
.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
