@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: "#313b45";
  --grey: "#818890";
  --white: "#fff";
}

html {
  @apply bg-[#313b45];
  font-family: 'Inter', sans-serif;
}

.dmsans {
  font-family: 'Inter', sans-serif;
}

.monserrat {
  font-family: 'Inter', sans-serif;
}

.opensans {
  font-family: 'Inter', sans-serif;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}